<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Fields-Hughes Wedding</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		<!-- CSS here -->
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../static/css/flaticon.css">
        <link rel="stylesheet" href="../static/css/slicknav.css">
        <link rel="stylesheet" href="../static/css/animate.min.css">
        <link rel="stylesheet" href="../static/css/magnific-popup.css">
        <link rel="stylesheet" href="../static/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="../static/css/themify-icons.css">
        <link rel="stylesheet" href="../static/css/slick.css">
        <link rel="stylesheet" href="../static/css/nice-select.css">
        <link rel="stylesheet" href="../static/css/style.css">
   </head>

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <h5>Loading...</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <!-- Main-menu -->
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/our_story">Our Story</a></li>
                                        <li><a href="/gallery">Gallery</a></li>
                                        <li><a href="/info">Wedding Info</a></li>
                                        <li><a href="/rsvp">RSVP</a></li>
                                        <li><a href="https://donate.stripe.com/test_5kA4h5eMH0wygCc9AA" target="_blank">Honeymoon Fund</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div> 
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!-- Gallery Start -->
        <div class="our-memories-area pt-5">
            <div class="container">
                <!-- Section Head -->
                <div class="row ">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <img src="../static/img/memories/section_tittle_flowre.png" alt="">
                            <h2>OUR MEMORIES</h2>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-4 col-md-4">
                        <div class="memory">
                            <div class="memories-img">
                                <img src="../static/img/memories/memories1.jpg" alt="">
                                <div class="menorie-icon" href="../static/img/memories/memories1.jpg">
                                    <i class="ti-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="memory">
                            <div class="memories-img">
                                <img src="../static/img/memories/memories2.jpg" alt="">
                                <div class="menorie-icon" href="../static/img/memories/memories2.jpg">
                                    <i class="ti-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="memory">
                            <div class="memories-img">
                                <img src="../static/img/memories/memories3.jpg" alt="">
                                <div class="menorie-icon" href="../static/img/memories/memories3.jpg">
                                    <i class="ti-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="memory">
                            <div class="memories-img">
                                <img src="../static/img/memories/memories4.jpg" alt="">
                                <div class="menorie-icon" href="../static/img/memories/memories4.jpg">
                                    <i class="ti-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="memory">
                            <div class="memories-img">
                                <img src="../static/img/memories/memories5.jpg" alt="">
                                <div class="menorie-icon" href="../static/img/memories/memories5.jpg">
                                    <i class="ti-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="memory">
                            <div class="memories-img">
                                <img src="../static/img/memories/memories11.jpg" alt="">
                                <div class="menorie-icon" href="../static/img/memories/memories11.jpg">
                                    <i class="ti-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="memory">
                            <div class="memories-img">
                                <img src="../static/img/memories/memories6.jpg" alt="">
                                <div class="menorie-icon" href="../static/img/memories/memories6.jpg">
                                    <i class="ti-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="memory">
                            <div class="memories-img">
                                <img src="../static/img/memories/memories7.jpg" alt="">
                                <div class="menorie-icon" href="../static/img/memories/memories7.jpg">
                                    <i class="ti-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="memory">
                            <div class="memories-img">
                                <img src="../static/img/memories/memories8.jpg" alt="">
                                <div class="menorie-icon" href="../static/img/memories/memories8.jpg">
                                    <i class="ti-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="memory">
                            <div class="memories-img">
                                <img src="../static/img/memories/memories9.jpg" alt="">
                                <div class="menorie-icon" href="../static/img/memories/memories9.jpg">
                                    <i class="ti-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="memory">
                            <div class="memories-img">
                                <img src="../static/img/memories/memories10.jpg" alt="">
                                <div class="menorie-icon" href="../static/img/memories/memories10.jpg">
                                    <i class="ti-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="memory">
                            <div class="memories-img">
                                <img src="../static/img/memories/memories12.jpg" alt="">
                                <div class="menorie-icon" href="../static/img/memories/memories12.jpg">
                                    <i class="ti-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Shape Img -->
            <div class="memories-shape d-none d-xl-block">
                <img src="../static/img/memories/left-img.png" class="memories-shape1" alt="">
                <img src="../static/img/memories/right-img.png" class="memories-shape2" alt="">
            </div>
        </div>
        <!-- Gallery End-->

    </main>
    <footer>
        <!-- Footer -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->

    </footer>

	<!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->

        <script src="../static/js/vendor/modernizr-3.5.0.min.js"></script>

		<!-- Jquery, Popper, Bootstrap -->

		<script src="../static/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="../static/js/popper.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>

	    <!-- Jquery Mobile Menu -->

        <script src="../static/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->

        <script src="../static/js/owl.carousel.min.js"></script>
        <script src="../static/js/slick.min.js"></script>

        <!-- Date Picker -->

        <script src="../static/js/gijgo.min.js"></script>

		<!-- One Page, Animated-HeadLin -->

        <script src="../static/js/wow.min.js"></script>
		<script src="../static/js/animated.headline.js"></script>
        <script src="../static/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->

        <script src="../static/js/jquery.scrollUp.min.js"></script>
        <script src="../static/js/jquery.nice-select.min.js"></script>
		<script src="../static/js/jquery.sticky.js"></script>

        <!-- contact js -->

        <script src="../static/js/contact.js"></script>
        <script src="../static/js/jquery.form.js"></script>
        <script src="../static/js/jquery.validate.min.js"></script>
        <script src="../static/js/mail-script.js"></script>
        <script src="../static/js/jquery.ajaxchimp.min.js"></script>

		<!-- Jquery Plugins, main Jquery -->

        <script src="../static/js/plugins.js"></script>
        <script src="../static/js/main.js"></script>
        <script src="../static/js/smoothscroll.js"></script>

    </body>
</html>