<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Fields-Hughes Wedding</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		<!-- CSS here -->
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../static/css/flaticon.css">
        <link rel="stylesheet" href="../static/css/slicknav.css">
        <link rel="stylesheet" href="../static/css/animate.min.css">
        <link rel="stylesheet" href="../static/css/magnific-popup.css">
        <link rel="stylesheet" href="../static/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="../static/css/themify-icons.css">
        <link rel="stylesheet" href="../static/css/slick.css">
        <link rel="stylesheet" href="../static/css/nice-select.css">
        <link rel="stylesheet" href="../static/css/style.css">

   </head>

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <h5>Loading...</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <!-- Main-menu -->
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/our_story">Our Story</a></li>
                                        <li><a href="/gallery">Gallery</a></li>
                                        <li><a href="/info">Wedding Info</a></li>
                                        <li><a href="/rsvp">RSVP</a></li>
                                        <li><a href="https://donate.stripe.com/test_5kA4h5eMH0wygCc9AA" target="_blank">Honeymoon Fund</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
        <!-- Header End -->
    </header>
    <main>

        <!-- Our Story -->
        <div class="Our-story-area story-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="story-img mb-100">
                             <img src="../static/img/our_story/story-img.jpg" class="story-imges" alt="">
                             <!-- Framing Flower -->
                             <div class="shape-flower-img">
                                <img src="../static/img/our_story/flower_top.png" class="flower-top" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="story-caption">
                            <img src="../static/img/our_story/flower_right.png" alt="">
                            <h3>Our Story</h3>
                            <p class="story1">In the enchanting ambiance of Go Burrito, Anesa and Tyler found themselves drawn to the allure of karaoke night. Amidst shared connections and the lively atmosphere, they gravitated towards each other, two souls on the cusp of a romantic overture. Tyler, captivated by Anesa's beauty, endeavored to kindle a conversation, and as destiny would have it, Anesa willingly danced along the notes of his words.
                                Their connection reached its zenith when Anesa, fueled by courage and a melody in her heart, took center stage to serenade Tyler with Tom Petty's "Last Dance With Mary Jane." The sweet strains of the song echoed the burgeoning affection between them. That magical night culminated in the exchange of numbers, an ephemeral connection that, unbeknownst to Anesa, would defy the odds.
                            </p>
                            <p class="story2">In the weeks that followed, Anesa grappled with the undeniable pull towards Tyler. Despite her attempts to elude the inevitable, Tyler's unwavering determination gradually chipped away at her resistance. Love, an artful persuader, orchestrated a symphony that led to a reluctant yet pivotal lunch date. Since that momentous encounter, their destinies intertwined, Anesa and Tyler have become inseparable—a tale spun from chance encounters, sweet melodies, and the relentless pursuit of a heart that knew, unequivocally, what it desired.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- shape -->
            <div class="shape-flower d-none d-xl-block">
                <img src="../static/img/our_story/shape_left.png" class="flower1" alt="">
                <img src="../static/img/our_story/shape_right.png" class="flower2 " alt="">
            </div>
        </div>
        <!-- Our Story End -->
    </main>
   <footer>
        <!-- Footer -->
        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                                <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!-- Footer End-->

   </footer>
   
	<!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->

        <script src="../static/js/vendor/modernizr-3.5.0.min.js"></script>

		<!-- Jquery, Popper, Bootstrap -->

		<script src="../static/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="../static/js/popper.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>

	    <!-- Jquery Mobile Menu -->

        <script src="../static/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->

        <script src="../static/js/owl.carousel.min.js"></script>
        <script src="../static/js/slick.min.js"></script>

        <!-- Date Picker -->

        <script src="../static/js/gijgo.min.js"></script>

		<!-- One Page, Animated-HeadLin -->

        <script src="../static/js/wow.min.js"></script>
		<script src="../static/js/animated.headline.js"></script>
        <script src="../static/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->

        <script src="../static/js/jquery.scrollUp.min.js"></script>
        <script src="../static/js/jquery.nice-select.min.js"></script>
		<script src="../static/js/jquery.sticky.js"></script>

        <!-- contact js -->

        <script src="../static/js/contact.js"></script>
        <script src="../static/js/jquery.form.js"></script>
        <script src="../static/js/jquery.validate.min.js"></script>
        <script src="../static/js/mail-script.js"></script>
        <script src="../static/js/jquery.ajaxchimp.min.js"></script>

		<!-- Jquery Plugins, main Jquery -->

        <script src="../static/js/plugins.js"></script>
        <script src="../static/js/main.js"></script>
        <script src="../static/js/smoothscroll.js"></script>
        
    </body>
</html>